/* Add your CSS rules here */
div {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
nav ul li a:hover {
    background-color: #ff7e5f;
    background: #ff7e5f;
    border-radius: 5px;

  color: red;
  padding:300px ;
  border: 20px;
  
  }




